# Series Temporais

Series temporais são conjuntos de dados coletados de forma sequencial ao longo de tempo, geralmente em intervalos rgulares (dia, hora, minuto). Essas series são muito usadas na área de finanças para analisar padrões, tendências e prever o futuro.

In [23]:
import pandas as pd
import datetime

In [4]:
numero_de_dias = 100

In [6]:
datas = pd.date_range(start="1/1/2024", periods=numero_de_dias)

In [10]:
type(datas)

pandas.DatetimeIndex

In [11]:
dataframe = pd.DataFrame(range(numero_de_dias), columns=["number"], index=datas)

In [12]:
dataframe

            number
2024-01-01       0
2024-01-02       1
2024-01-03       2
2024-01-04       3
2024-01-05       4
...            ...
2024-04-05      95
2024-04-06      96
2024-04-07      97
2024-04-08      98
2024-04-09      99

[100 rows x 1 columns]

In [14]:
dataframe.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16',
               '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24',
               '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28',
               '2024-03-29', '2024-03-30', '2024-03-31', '2024-04-01',
               '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05',
               '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09'],
              dtype='datetime64[us]', freq='D')

In [15]:
dataframe.index[0]

Timestamp('2024-01-01 00:00:00')

In [16]:
dataframe.index[2].day

3

In [17]:
dataframe.index[3].month

1

In [18]:
dataframe.index[3].year

2024

In [21]:
dataframe[dataframe.index.month == 4]

            number
2024-04-01      91
2024-04-02      92
2024-04-03      93
2024-04-04      94
2024-04-05      95
2024-04-06      96
2024-04-07      97
2024-04-08      98
2024-04-09      99

In [22]:
dataframe[dataframe.index.day == 2]

            number
2024-01-02       1
2024-02-02      32
2024-03-02      61
2024-04-02      92

In [31]:
dataframe[dataframe.index > datetime.datetime(2024, 3, 30)]

            number
2024-03-31      90
2024-04-01      91
2024-04-02      92
2024-04-03      93
2024-04-04      94
2024-04-05      95
2024-04-06      96
2024-04-07      97
2024-04-08      98
2024-04-09      99