# Agrupamentos e Estatísticas de Mercado

In [132]:
import pandas as pd
import numpy as np

In [124]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

### 1. Média por Produto: Agrupe os dados por PRODUTO e calcule a média global do PREÇO MÉDIO REVENDA para cada um.

In [9]:
df.groupby("PRODUTO")["PREÇO MÉDIO REVENDA"].mean()

PRODUTO
ETANOL HIDRATADO       2.444979
GASOLINA ADITIVADA     5.049475
GASOLINA COMUM         3.195409
GLP                   47.655054
GNV                    2.033289
OLEO DIESEL            3.711464
OLEO DIESEL S10        3.781366
ÓLEO DIESEL            2.422245
ÓLEO DIESEL S10        3.136145
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 2. Mediana Nacional: Encontre o valor mediano do preço da Gasolina Comum em todo o território nacional.

In [11]:
df["PREÇO MÉDIO REVENDA"].median()

np.float64(2.899)

### 3. Liderança Regional: Agrupe por REGIÃO e descubra qual delas possui o maior preço médio para o "ETANOL HIDRATADO".

In [30]:
df[df["PRODUTO"] == "ETANOL HIDRATADO"].groupby("REGIÃO")["PREÇO MÉDIO REVENDA"].mean().sort_values(ascending=False)

REGIÃO
NORTE           2.655331
NORDESTE        2.451679
SUL             2.412379
SUDESTE         2.293122
CENTRO OESTE    2.245860
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 4. Resumo por Estado: Crie uma tabela que mostre o preço máximo e o preço mínimo de revenda registrados para cada estado brasileiro.

In [40]:
df.groupby("ESTADO").agg({"PREÇO MÍNIMO REVENDA": "min", "PREÇO MÁXIMO REVENDA": "max"})

                     PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
ESTADO
ACRE                                1.380                115.00
ALAGOAS                             1.050                 85.00
AMAPA                               1.400                108.00
AMAZONAS                            1.190                105.00
BAHIA                               0.999                 95.00
CEARA                               1.030                100.00
DISTRITO FEDERAL                    0.970                 95.00
ESPIRITO SANTO                      0.840                110.00
GOIAS                               0.870                110.00
MARANHAO                            1.230                 95.00
MATO GROSSO                         0.980                120.00
MATO GROSSO DO SUL                  0.960                 99.00
MINAS GERAIS                        0.880                100.00
PARA                                1.230                110.00
PARAIBA                             1.090                100.00
PARANA                              0.730                110.00
PERNAMBUCO                          0.989                 97.99
PIAUI                               1.270                100.00
RIO DE JANEIRO                      0.659                 97.90
RIO GRANDE DO NORTE                 0.790                 98.00
RIO GRANDE DO SUL                   0.880                 95.00
RONDONIA                            1.050                113.00
RORAIMA                             1.300                113.00
SANTA CATARINA                      0.999                104.00
SAO PAULO                           0.590                110.00
SERGIPE                             1.050                 90.00
TOCANTINS                           1.050                108.00

### 5. Pandemia (2020): Filtre o DataFrame para o ano de 2020 e calcule o preço médio de revenda por mês.

In [56]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [62]:
df_aux = df[(df["DATA INICIAL"].apply(lambda x: x.year) == 2020) & (df["DATA FINAL"].apply(lambda x: x.year) == 2020)]

In [69]:
df_aux["MES"] = df_aux["DATA INICIAL"].apply(lambda x: x.month)

In [85]:
result = df_aux.groupby("MES")[["PREÇO MÁXIMO REVENDA", "DATA INICIAL"]].mean()

In [86]:
pd.DataFrame(result)

     PREÇO MÁXIMO REVENDA               DATA INICIAL
MES
1               19.083666 2020-01-15 12:33:02.950819
2               19.187922 2020-02-12 11:01:41.157024
3               19.149734 2020-03-15 00:13:20.000000
4               18.901286 2020-04-15 12:24:59.504132
5               18.642434 2020-05-17 00:13:17.889182
6               18.722167 2020-06-17 11:51:40.165289
7               18.774714 2020-07-15 12:24:49.655172
8               18.900106 2020-08-09 00:00:00.000000
10              16.116756 2020-10-21 11:45:33.524355
11              16.633731 2020-11-14 23:25:24.027460
12              16.884964 2020-12-13 00:38:37.241379

### 6. Volume de Pesquisa: Descubra qual estado teve a maior soma total de postos pesquisados em toda a história do dataset.

In [108]:
df_aux = pd.DataFrame(df.groupby("ESTADO")["NÚMERO DE POSTOS PESQUISADOS"].sum().sort_values(ascending=False))

In [109]:
df_aux = df_aux.iloc[0]

In [110]:
pd.DataFrame(df_aux)

                              SAO PAULO
NÚMERO DE POSTOS PESQUISADOS    7279948

### 7. Combinação de Filtros: Agrupe por ESTADO e PRODUTO simultaneamente e calcule a média de preço.

In [112]:
pd.DataFrame(df.groupby(["ESTADO", "PRODUTO"])["PREÇO MÁXIMO REVENDA"].mean())

                              PREÇO MÁXIMO REVENDA
ESTADO    PRODUTO
ACRE      ETANOL HIDRATADO                3.267036
          GASOLINA ADITIVADA              5.812357
          GASOLINA COMUM                  3.967945
          GLP                            60.539764
          GNV                             2.322000
...                                            ...
TOCANTINS GNV                             2.979625
          OLEO DIESEL                     4.621034
          OLEO DIESEL S10                 4.745580
          ÓLEO DIESEL                     2.633890
          ÓLEO DIESEL S10                 3.538036

[242 rows x 1 columns]

### 8. Variação Crítica: Filtre registros onde o COEF DE VARIAÇÃO REVENDA é maior que 0.1 (indicando alta variação nos postos).

In [116]:
df[df["COEF DE VARIAÇÃO REVENDA"] > 0.1].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096
16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.890,1.490,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108

### 9. Margem no Rio: Calcule a média da coluna MARGEM MÉDIA REVENDA especificamente para o estado do Rio de Janeiro.

In [133]:
df["MARGEM MÉDIA REVENDA"] = pd.to_numeric(df["MARGEM MÉDIA REVENDA"], errors="coerce").replace(-99999.0, np.nan)

In [137]:
df[df["ESTADO"] == "RIO DE JANEIRO"]["MARGEM MÉDIA REVENDA"].mean()

np.float64(2.407702077022934)

### 10. Classificação Binária: Crie uma coluna chamada "STATUS_PRECO" que contenha "ALTO" se o preço for maior que R$ 5,00 e "NORMAL" caso contrário.

In [138]:
df["STATUS"] = np.where(df["PREÇO MÁXIMO REVENDA"] > 5, "ALTO", "BAIXO")

### 11. Histórico do GLP: Encontre a data exata em que o "GLP" registrou seu menor preço médio de revenda na história.

In [146]:
pd.DataFrame(df[df["PRODUTO"] == "GLP"][["DATA INICIAL", "DATA FINAL", "PREÇO MÉDIO REVENDA"]].min())

                              0
DATA INICIAL         2004-05-09
DATA FINAL           2004-05-15
PREÇO MÉDIO REVENDA      28.026

### 12. Evolução do GNV: Agrupe por ano e conte quantos registros de "GNV" existem para cada ano.

### 13. Volatilidade no Norte: Calcule o desvio padrão dos preços de revenda apenas para a região "NORTE".

### 14. Gasolina Aditivada: Identifique qual estado possui o maior preço médio para a "GASOLINA ADITIVADA".

### 15. Top 3 Baratos: Identifique os 3 estados com o PREÇO MÉDIO REVENDA mais barato para o "ÓLEO DIESEL".

### 16. Tabela Cruzada (Pivot): Tente criar uma tabela que cruze as Regiões (nas linhas) com os Produtos (nas colunas), mostrando a média de preço.

### 17. Busca por Letra: Filtre o DataFrame para estados que começam com a letra "S" (ex: São Paulo, Sergipe...).

### 18. Comparação de Década: Calcule a média de preço da Gasolina Comum no ano de 2010 e compare visualmente com a média de 2020.

### 19. Amostras Robustas: Selecione registros onde o número de postos pesquisados seja maior que 500 e o produto seja "ETANOL HIDRATADO".

### 20. Exportação: Salve um novo arquivo CSV contendo apenas os dados filtrados do ano de 2021.