# Series

In [1]:
import pandas as pd
import numpy as np

### 1. Series criação

#### 1. Criando diferentes estruturas de dados

In [2]:
minha_lista_string = ['a', 'b', 'c']
minha_lista_number = [10, 20, 30]
meu_array = np.array([10, 20, 30])
meu_dicionario = {'a':10, 'b': 20, 'c':30}

#### 2. Criando uma serie pura

In [3]:
serie = pd.Series([1, 2, 3, 4, 5])

In [4]:
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 3. Criando uma serie com uma lista

In [6]:
pd.Series(minha_lista_string)

0    a
1    b
2    c
dtype: str

#### 4. Criando uma serie definindo argumentos

In [7]:
pd.Series(data=minha_lista_string, index=minha_lista_number)

10    a
20    b
30    c
dtype: str

In [9]:
pd.Series(minha_lista_string, minha_lista_number)

10    a
20    b
30    c
dtype: str

#### 5. Criando uma serie com um dicionário

In [10]:
pd.Series(meu_dicionario)

a    10
b    20
c    30
dtype: int64

#### 6. Criando series e somando

In [11]:
serie1 = pd.Series([1, 2, 3, 4], index=["Brasil", "Tailândia", "Islândia", "Nepal"])

In [12]:
serie2 = pd.Series([1, 2, 3, 4], index=["Brasil", "Tailândia", "Islândia", "Groenlândia"])

In [13]:
serie1

Brasil       1
Tailândia    2
Islândia     3
Nepal        4
dtype: int64

In [16]:
serie1 + serie2

Brasil         2.0
Groenlândia    NaN
Islândia       6.0
Nepal          NaN
Tailândia      4.0
dtype: float64

#### 7. Acessando uma celula de serie pelo index

In [14]:
serie1[["Brasil"]]

Brasil    1
dtype: int64

In [15]:
serie1[["Brasil", "Islândia"]]

Brasil      1
Islândia    3
dtype: int64