# Índices

### 1. Criando dataframe

In [14]:
import pandas as pd
import numpy as np

In [6]:
dataframe = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [4]:
dataframe

          W         X         Y         Z
A  0.919997 -1.709309 -0.812466  0.350763
B -0.180060  1.291270  0.774949  0.016578
C  1.036911 -1.157050  1.757584 -0.123339
D -1.359846 -0.491829  2.554505 -0.855015
E  0.732832  0.215230 -1.183979  0.668457

### 2. Operações com índices

In [5]:
dataframe

          W         X         Y         Z
A  0.919997 -1.709309 -0.812466  0.350763
B -0.180060  1.291270  0.774949  0.016578
C  1.036911 -1.157050  1.757584 -0.123339
D -1.359846 -0.491829  2.554505 -0.855015
E  0.732832  0.215230 -1.183979  0.668457

In [6]:
dataframe.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='str')

In [7]:
dataframe.columns

Index(['W', 'X', 'Y', 'Z'], dtype='str')

In [8]:
dataframe.reset_index()

  index         W         X         Y         Z
0     A  0.919997 -1.709309 -0.812466  0.350763
1     B -0.180060  1.291270  0.774949  0.016578
2     C  1.036911 -1.157050  1.757584 -0.123339
3     D -1.359846 -0.491829  2.554505 -0.855015
4     E  0.732832  0.215230 -1.183979  0.668457

In [9]:
novo_index = "MA PI BA RO RN".split()

In [10]:
novo_index

['MA', 'PI', 'BA', 'RO', 'RN']

In [11]:
dataframe["index"] = novo_index

In [12]:
dataframe

          W         X         Y         Z index
A  0.919997 -1.709309 -0.812466  0.350763    MA
B -0.180060  1.291270  0.774949  0.016578    PI
C  1.036911 -1.157050  1.757584 -0.123339    BA
D -1.359846 -0.491829  2.554505 -0.855015    RO
E  0.732832  0.215230 -1.183979  0.668457    RN

In [13]:
dataframe.set_index("index")

              W         X         Y         Z
index
MA     0.919997 -1.709309 -0.812466  0.350763
PI    -0.180060  1.291270  0.774949  0.016578
BA     1.036911 -1.157050  1.757584 -0.123339
RO    -1.359846 -0.491829  2.554505 -0.855015
RN     0.732832  0.215230 -1.183979  0.668457

In [14]:
dataframe.reset_index()

  level_0         W         X         Y         Z index
0       A  0.919997 -1.709309 -0.812466  0.350763    MA
1       B -0.180060  1.291270  0.774949  0.016578    PI
2       C  1.036911 -1.157050  1.757584 -0.123339    BA
3       D -1.359846 -0.491829  2.554505 -0.855015    RO
4       E  0.732832  0.215230 -1.183979  0.668457    RN

In [16]:
dataframe.reset_index().set_index("index")

      level_0         W         X         Y         Z
index
MA          A  0.919997 -1.709309 -0.812466  0.350763
PI          B -0.180060  1.291270  0.774949  0.016578
BA          C  1.036911 -1.157050  1.757584 -0.123339
RO          D -1.359846 -0.491829  2.554505 -0.855015
RN          E  0.732832  0.215230 -1.183979  0.668457

### 3. Índices Multiníveis

In [16]:
# Níveis de índices 
outside = ["Mulheres", "Mulheres", "Mulheres", "Homens", "Homens", "Homens"]
inside = ["Filial1", "Filial2", "Filial3", "Filial1", "Filial2", "Filial3", ]
hier_index = list(zip(outside, inside))

In [17]:
hier_index

[('Mulheres', 'Filial1'),
 ('Mulheres', 'Filial2'),
 ('Mulheres', 'Filial3'),
 ('Homens', 'Filial1'),
 ('Homens', 'Filial2'),
 ('Homens', 'Filial3')]

In [18]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [19]:
hier_index

MultiIndex([('Mulheres', 'Filial1'),
            ('Mulheres', 'Filial2'),
            ('Mulheres', 'Filial3'),
            (  'Homens', 'Filial1'),
            (  'Homens', 'Filial2'),
            (  'Homens', 'Filial3')],
           )

In [20]:
dataframe2 = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=["A", "B"])

In [21]:
dataframe2

                         A         B
Mulheres Filial1  0.541546  0.502897
         Filial2 -0.706062 -1.511800
         Filial3 -0.234812 -0.281912
Homens   Filial1 -0.027548  0.362164
         Filial2  0.619358 -0.346398
         Filial3 -0.397321  0.750100

In [23]:
dataframe2.loc["Mulheres"]

                A         B
Filial1  0.541546  0.502897
Filial2 -0.706062 -1.511800
Filial3 -0.234812 -0.281912

In [25]:
dataframe2.loc["Mulheres"].loc["Filial1"]

A    0.541546
B    0.502897
Name: Filial1, dtype: float64

In [26]:
dataframe2.index

MultiIndex([('Mulheres', 'Filial1'),
            ('Mulheres', 'Filial2'),
            ('Mulheres', 'Filial3'),
            (  'Homens', 'Filial1'),
            (  'Homens', 'Filial2'),
            (  'Homens', 'Filial3')],
           )

In [27]:
dataframe2.index.names

FrozenList([None, None])

In [29]:
dataframe2.index.names = ["Grupo", "Filial"]

In [30]:
dataframe2

                         A         B
Grupo    Filial
Mulheres Filial1  0.541546  0.502897
         Filial2 -0.706062 -1.511800
         Filial3 -0.234812 -0.281912
Homens   Filial1 -0.027548  0.362164
         Filial2  0.619358 -0.346398
         Filial3 -0.397321  0.750100

In [32]:
dataframe2.xs("Filial1", level="Filial")

                 A         B
Grupo
Mulheres  0.541546  0.502897
Homens   -0.027548  0.362164