# Filtros, Seleção e Limpeza

In [40]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

### 1. Visão Final: Exiba as últimas 7 linhas do conjunto de dados para verificar o final da série histórica.

In [3]:
df.tail(7)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120816,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,OLEO DIESEL S10,148,R$/l,4.140,0.236,3.849,4.949,-99999.0,0.057,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,RONDONIA,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2. Foco no Norte: Crie um filtro que retorne apenas os dados do estado do Amazonas.

In [4]:
df[df["ESTADO"] == "AMAZONAS"]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.85,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
42,2004-05-16,2004-05-22,NORTE,AMAZONAS,ETANOL HIDRATADO,56,R$/l,1.557,0.117,1.259,1.85,0.444,0.075,1.113,0.066,0.942,1.2109,0.059
69,2004-05-23,2004-05-29,NORTE,AMAZONAS,ETANOL HIDRATADO,54,R$/l,1.563,0.144,1.290,1.90,0.453,0.092,1.11,0.078,0.7874,1.2109,0.07
96,2004-05-30,2004-06-05,NORTE,AMAZONAS,ETANOL HIDRATADO,56,R$/l,1.558,0.119,1.259,1.85,0.445,0.076,1.113,0.073,0.9717,1.2384,0.066
123,2004-06-06,2004-06-12,NORTE,AMAZONAS,ETANOL HIDRATADO,57,R$/l,1.562,0.125,1.280,1.85,0.493,0.080,1.069,0.071,0.93,1.2412,0.066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120675,2021-04-25,2021-05-01,NORTE,AMAZONAS,GASOLINA ADITIVADA,40,R$/l,5.545,0.117,5.450,5.80,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120702,2021-04-25,2021-05-01,NORTE,AMAZONAS,GASOLINA COMUM,54,R$/l,5.493,0.124,5.390,5.80,-99999.0,0.023,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120729,2021-04-25,2021-05-01,NORTE,AMAZONAS,GLP,43,R$/13Kg,92.783,4.603,88.000,105.00,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120772,2021-04-25,2021-05-01,NORTE,AMAZONAS,OLEO DIESEL,31,R$/l,4.285,0.295,3.990,4.95,-99999.0,0.069,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120799,2021-04-25,2021-05-01,NORTE,AMAZONAS,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.99,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 3. Análise de Gás: Qual é a média de postos pesquisados especificamente para o produto "GNV"?

In [5]:
df[df["PRODUTO"] == "GNV"]["NÚMERO DE POSTOS PESQUISADOS"].mean()

np.float64(27.822793558642616)

### 4. Seleção de Colunas: Crie um novo DataFrame contendo apenas as colunas: DATA FINAL, ESTADO, PRODUTO e PREÇO MÉDIO REVENDA.

In [6]:
df_new = df[["DATA FINAL", "PRODUTO", "PREÇO MÉDIO REVENDA"]].copy()

In [7]:
df_new.head()

   DATA FINAL           PRODUTO  PREÇO MÉDIO REVENDA
0  2004-05-15  ETANOL HIDRATADO                1.288
1  2004-05-15  ETANOL HIDRATADO                1.162
2  2004-05-15  ETANOL HIDRATADO                1.389
3  2004-05-15  ETANOL HIDRATADO                1.262
4  2004-05-15  ETANOL HIDRATADO                1.181

### 5. Máximo do Diesel: Identifique qual foi o maior "PREÇO MÁXIMO REVENDA" registrado para o "ÓLEO DIESEL S10" em todo o Brasil.

In [8]:
df[df["PRODUTO"] == "ÓLEO DIESEL S10"]["PREÇO MÁXIMO REVENDA"].max()

np.float64(5.3)

### 6. Preços Baixos: Filtre todos os registros onde o "PREÇO MÉDIO REVENDA" foi menor que R$ 2,00.

In [9]:
df[df["PREÇO MÉDIO REVENDA"] < 2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94792,2017-12-10,2017-12-16,SUL,SANTA CATARINA,GNV,10,R$/m3,1.997,0.074,1.899,2.099,0.518,0.037,1.479,0,1.479,1.479,0
94942,2017-12-17,2017-12-23,SUL,SANTA CATARINA,GNV,15,R$/m3,1.966,0.112,1.760,2.099,-,0.057,-,-,-,-,-
95546,2018-01-14,2018-01-20,SUL,SANTA CATARINA,GNV,33,R$/m3,1.996,0.134,1.760,2.289,0.517,0.067,1.479,0,1.479,1.479,0
95698,2018-01-21,2018-01-27,SUL,SANTA CATARINA,GNV,33,R$/m3,1.998,0.136,1.760,2.289,0.391,0.068,1.607,0.151,1.479,1.6925,0.094
96607,2018-03-04,2018-03-10,SUL,SANTA CATARINA,GNV,26,R$/m3,1.988,0.130,1.810,2.290,0.712,0.065,1.276,0,1.2758,1.2758,0

### 7. Frequência por Estado: Conte quantas vezes cada estado aparece no conjunto de dados (frequência de registros).

In [10]:
df["ESTADO"].value_counts()

ESTADO
BAHIA                  4819
PARAIBA                4819
RIO DE JANEIRO         4819
SAO PAULO              4819
RIO GRANDE DO SUL      4819
RIO GRANDE DO NORTE    4818
SANTA CATARINA         4818
MINAS GERAIS           4817
ESPIRITO SANTO         4815
CEARA                  4813
PERNAMBUCO             4813
PARANA                 4807
ALAGOAS                4806
SERGIPE                4795
MATO GROSSO DO SUL     4793
MATO GROSSO            4566
AMAZONAS               4414
GOIAS                  4134
PIAUI                  4017
MARANHAO               3971
DISTRITO FEDERAL       3956
PARA                   3955
TOCANTINS              3953
RONDONIA               3950
ACRE                   3948
RORAIMA                3938
AMAPA                  3831
Name: count, dtype: int64

### 8. Coluna de Mês: Crie uma nova coluna chamada "MES_NUM" extraída da coluna DATA FINAL (apenas o número do mês).

In [11]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [12]:
type(df["DATA FINAL"][0])

pandas.Timestamp

In [13]:
df["MES"] = df["DATA FINAL"].apply(lambda x: x.month)

In [14]:
type(df["MES"][0])

numpy.int64

In [15]:
df["MES"].value_counts()

MES
3     10534
1     10503
12    10497
7     10250
4     10227
5     10210
6     10022
11     9995
10     9986
2      9695
8      9524
9      9380
Name: count, dtype: int64

### 9. Recorte Regional: Filtre o DataFrame para exibir apenas dados pertencentes à região "SUDESTE".

In [16]:
df[df["REGIÃO"] == "SUDESTE"]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES
20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.890,1.490,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108,5
21,2004-05-09,2004-05-15,SUDESTE,MINAS GERAIS,ETANOL HIDRATADO,1238,R$/l,1.205,0.120,0.920,1.875,0.389,0.100,0.816,0.123,0.3797,1.437,0.151,5
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22,5
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5
47,2004-05-16,2004-05-22,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,307,R$/l,1.144,0.115,0.880,1.470,0.28,0.101,0.864,0.091,0.6259,1.1384,0.105,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120803,2021-04-25,2021-05-01,SUDESTE,ESPIRITO SANTO,OLEO DIESEL S10,65,R$/l,4.070,0.211,3.790,4.690,-99999.0,0.052,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120808,2021-04-25,2021-05-01,SUDESTE,MINAS GERAIS,OLEO DIESEL S10,206,R$/l,4.314,0.143,4.040,5.070,-99999.0,0.033,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5

### 10. Instabilidade de Preço: Localize os 5 registros que possuem o maior "DESVIO PADRÃO REVENDA".

In [17]:
df["DESVIO PADRÃO REVENDA"].nlargest(5)

92357     10.748
92059     10.728
100946    10.675
98533     10.641
98988     10.568
Name: DESVIO PADRÃO REVENDA, dtype: float64

### 11. Tipos de Medida: Liste todos os valores únicos da coluna UNIDADE DE MEDIDA.

In [18]:
df["UNIDADE DE MEDIDA"].value_counts()

UNIDADE DE MEDIDA
R$/l       82793
R$/13Kg    23561
R$/m3      14469
Name: count, dtype: int64

### 12. Ano Específico: Filtre os dados do produto "GASOLINA COMUM" referentes apenas ao ano de 2015.

In [19]:
df["YEAR"] = df["DATA FINAL"].apply(lambda x: x.year)

In [20]:
df[(df["PRODUTO"] == "GASOLINA COMUM") & (df["YEAR"] == 2015)]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES,YEAR
71540,2014-12-28,2015-01-03,NORTE,ACRE,GASOLINA COMUM,50,R$/l,3.504,0.179,3.390,3.910,0.568,0.051,2.936,0.108,2.784,3.2181,0.037,1,2015
71541,2014-12-28,2015-01-03,NORDESTE,ALAGOAS,GASOLINA COMUM,95,R$/l,3.083,0.083,2.920,3.290,0.463,0.027,2.62,0.059,2.485,2.8262,0.023,1,2015
71542,2014-12-28,2015-01-03,NORTE,AMAPA,GASOLINA COMUM,28,R$/l,3.068,0.205,2.930,3.570,0.395,0.067,2.673,0.028,2.6312,2.7133,0.01,1,2015
71543,2014-12-28,2015-01-03,NORTE,AMAZONAS,GASOLINA COMUM,114,R$/l,3.280,0.190,2.900,3.850,0.542,0.058,2.738,0.081,2.4909,2.96,0.03,1,2015
71544,2014-12-28,2015-01-03,NORDESTE,BAHIA,GASOLINA COMUM,419,R$/l,3.079,0.122,2.829,3.420,0.494,0.040,2.585,0.081,2.41,2.7976,0.031,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79182,2015-12-20,2015-12-26,NORTE,RORAIMA,GASOLINA COMUM,9,R$/l,3.883,0.040,3.840,3.940,0.494,0.010,3.389,0.079,3.345,3.5716,0.023,12,2015
79183,2015-12-20,2015-12-26,SUL,SANTA CATARINA,GASOLINA COMUM,243,R$/l,3.494,0.139,3.179,3.861,0.361,0.040,3.133,0.061,3.0317,3.26,0.019,12,2015
79184,2015-12-20,2015-12-26,SUDESTE,SAO PAULO,GASOLINA COMUM,1629,R$/l,3.515,0.135,3.159,3.899,0.454,0.038,3.061,0.081,2.846,3.41,0.026,12,2015
79185,2015-12-20,2015-12-26,NORDESTE,SERGIPE,GASOLINA COMUM,39,R$/l,3.633,0.104,3.389,3.869,0.42,0.029,3.213,0.036,3.16,3.263,0.011,12,2015
79186,2015-12-20,2015-12-26,NORTE,TOCANTINS,GASOLINA COMUM,41,R$/l,3.681,0.117,3.200,3.959,0.46,0.032,3.221,0.076,3.08,3.2788,0.024,12,2015

### 13. Distribuição na Bahia: Calcule o "PREÇO MÉDIO DISTRIBUIÇÃO" apenas para o estado da Bahia.

In [41]:
df["PREÇO MÉDIO DISTRIBUIÇÃO"] = pd.to_numeric(df["PREÇO MÉDIO DISTRIBUIÇÃO"], errors="coerce").replace(-99999.0, np.nan)

In [45]:
df[df["ESTADO"] == "BAHIA"]["PREÇO MÉDIO DISTRIBUIÇÃO"].mean()

np.float64(7.4180616616183475)

### 14. Barreira dos 7 Reais: Identifique em quais datas e estados o "PREÇO MÁXIMO REVENDA" atingiu ou ultrapassou R$ 7,00.

In [57]:
df[df["PREÇO MÁXIMO REVENDA"] > 7][["DATA FINAL", "ESTADO", "PREÇO MÁXIMO REVENDA"]]

        DATA FINAL              ESTADO  PREÇO MÁXIMO REVENDA
24132   2004-05-15    DISTRITO FEDERAL                 36.00
24133   2004-05-15               GOIAS                 36.00
24134   2004-05-15         MATO GROSSO                 44.00
24135   2004-05-15  MATO GROSSO DO SUL                 39.00
24136   2004-05-15             ALAGOAS                 33.00
...            ...                 ...                   ...
120748  2021-05-01             RORAIMA                106.00
120749  2021-05-01      SANTA CATARINA                104.00
120750  2021-05-01           SAO PAULO                 99.99
120751  2021-05-01             SERGIPE                 90.00
120752  2021-05-01           TOCANTINS                108.00

[23563 rows x 3 columns]

### 15. Ordenação por Amostra: Ordene o DataFrame pelo NÚMERO DE POSTOS PESQUISADOS de forma crescente.

In [58]:
df.sort_values(by="NÚMERO DE POSTOS PESQUISADOS")

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
38760,2007-06-03,2007-06-09,NORTE,AMAZONAS,GNV,1,R$/m3,1.399,0.000,1.399,1.399,0.149,0.000,1.250,0,1.25,1.25,0
93726,2017-10-22,2017-10-28,NORTE,AMAZONAS,GNV,1,R$/m3,2.850,0.000,2.850,2.850,0.553,0.000,2.297,0,2.2965,2.2965,0
58938,2013-05-26,2013-06-01,CENTRO OESTE,GOIAS,GNV,1,R$/m3,2.190,0.000,2.190,2.190,-,0.000,NaN,-,-,-,-
58934,2013-05-26,2013-06-01,NORTE,AMAZONAS,GNV,1,R$/m3,1.950,0.000,1.950,1.950,0.262,0.000,1.688,0,1.688,1.688,0
38727,2007-05-20,2007-05-26,NORTE,AMAZONAS,GNV,1,R$/m3,1.399,0.000,1.399,1.399,0.149,0.000,1.250,0,1.25,1.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12762,2004-10-31,2004-11-06,SUDESTE,SAO PAULO,GASOLINA COMUM,4155,R$/l,2.080,0.095,1.709,2.400,0.225,0.046,1.855,0.063,1.5641,2.139,0.034
12492,2004-08-22,2004-08-28,SUDESTE,SAO PAULO,GASOLINA COMUM,4157,R$/l,2.035,0.091,1.740,2.399,0.235,0.045,1.800,0.054,1.477,2.1229,0.03
12600,2004-09-19,2004-09-25,SUDESTE,SAO PAULO,GASOLINA COMUM,4157,R$/l,2.031,0.092,1.690,2.400,0.235,0.045,1.796,0.053,1.477,2.074,0.03
12438,2004-08-08,2004-08-14,SUDESTE,SAO PAULO,GASOLINA COMUM,4157,R$/l,2.034,0.090,1.740,2.399,0.245,0.044,1.789,0.057,1.477,2.1291,0.032
12654,2004-10-03,2004-10-09,SUDESTE,SAO PAULO,GASOLINA COMUM,4167,R$/l,2.034,0.092,1.690,2.399,0.234,0.045,1.800,0.053,1.475,2.103,0.029

### 16. Filtro Sulista: Crie um filtro para encontrar registros de "GLP" (Gás de Cozinha) apenas na região "SUL".

In [59]:
df[(df["PRODUTO"] == "GLP" ) & (df["REGIÃO"] == "SUL")]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
24156,2004-05-09,2004-05-15,SUL,PARANA,GLP,396,R$/13Kg,30.740,1.779,25.90,35.00,6.477,0.058,24.263,2.103,21,30,0.087
24157,2004-05-09,2004-05-15,SUL,RIO GRANDE DO SUL,GLP,745,R$/13Kg,30.428,1.906,25.50,38.00,5.185,0.063,25.243,1.972,20.25,30.66,0.078
24158,2004-05-09,2004-05-15,SUL,SANTA CATARINA,GLP,265,R$/13Kg,30.766,1.577,26.00,37.35,5.953,0.051,24.813,2.092,21,28,0.084
24183,2004-05-16,2004-05-22,SUL,PARANA,GLP,467,R$/13Kg,31.130,1.760,24.00,37.00,6.275,0.057,24.855,2.049,20,31,0.082
24184,2004-05-16,2004-05-22,SUL,RIO GRANDE DO SUL,GLP,677,R$/13Kg,30.405,2.054,25.00,38.00,5.174,0.068,25.231,2.188,19.5,30.66,0.087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120567,2021-04-18,2021-04-24,SUL,RIO GRANDE DO SUL,GLP,190,R$/13Kg,82.258,4.598,73.00,95.00,-99999.0,0.056,NaN,-99999.0,-99999.0,-99999.0,-99999.0
120570,2021-04-18,2021-04-24,SUL,SANTA CATARINA,GLP,25,R$/13Kg,90.097,7.486,77.99,99.90,-99999.0,0.083,NaN,-99999.0,-99999.0,-99999.0,-99999.0
120741,2021-04-25,2021-05-01,SUL,PARANA,GLP,227,R$/13Kg,88.265,5.994,75.00,110.00,-99999.0,0.068,NaN,-99999.0,-99999.0,-99999.0,-99999.0
120746,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,GLP,189,R$/13Kg,82.370,4.658,73.00,95.00,-99999.0,0.057,NaN,-99999.0,-99999.0,-99999.0,-99999.0
120749,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GLP,18,R$/13Kg,91.189,7.106,82.00,104.00,-99999.0,0.078,NaN,-99999.0,-99999.0,-99999.0,-99999.0

### 17. Valores Nulos: Verifique se existem valores nulos (NaN) na coluna PREÇO MÉDIO DISTRIBUIÇÃO.

In [65]:
df["PREÇO MÉDIO DISTRIBUIÇÃO"].isnull().sum()

np.int64(8908)

### 18. Amplitude de Preço: Crie uma nova coluna chamada "AMPLITUDE_REVENDA" que seja a diferença entre o preço máximo e o preço mínimo de revenda.

In [69]:
df["AMPLITUDE REVENDA"] = df["PREÇO MÁXIMO REVENDA"] - df["PREÇO MÍNIMO REVENDA"]

In [71]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,AMPLITUDE REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,0.160
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,0.559
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.161,0.098,0.580
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,0.419
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,0.350

### 19. Início de Ano: Filtre o DataFrame para mostrar apenas os registros realizados no mês de Janeiro (de qualquer ano).

In [75]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])

In [76]:
type(df["DATA INICIAL"][3])

pandas.Timestamp

In [81]:
df[df["DATA INICIAL"].apply(lambda x: x.month) == 1].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,AMPLITUDE REVENDA
918,2005-01-02,2005-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,128,R$/l,1.686,0.110,1.49,1.895,0.35,0.065,1.336,0.12,0.975,1.6,0.09,0.405
919,2005-01-02,2005-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,381,R$/l,1.599,0.089,1.39,1.929,0.396,0.056,1.203,0.103,1.021,1.4562,0.086,0.539
920,2005-01-02,2005-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,201,R$/l,1.816,0.092,1.63,2.050,0.41,0.051,1.406,0.12,1.0752,1.696,0.085,0.420
921,2005-01-02,2005-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,160,R$/l,1.714,0.054,1.59,1.859,0.362,0.032,1.352,0.137,0.9702,1.6313,0.101,0.269
922,2005-01-02,2005-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,1.641,0.071,1.50,1.850,0.221,0.043,1.420,0.13,1.1369,1.5933,0.092,0.350

### 20. Exclusão de Coluna: Remova a coluna COEF DE VARIAÇÃO DISTRIBUIÇÃO de uma cópia do seu DataFrame e exiba o resultado.

In [82]:
df_copy = df.copy()

In [83]:
df_copy.head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,AMPLITUDE REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,0.160
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,0.559

In [84]:
df_copy.drop("COEF DE VARIAÇÃO DISTRIBUIÇÃO", axis=1, inplace=True)

In [85]:
df_copy.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,AMPLITUDE REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.160
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.559
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.161,0.580
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.419
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.350