# Transformação e agrupamentos simples

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

In [8]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 1. Conversão de Datas: Converta a coluna "DATA FINAL" para o formato datetime do Pandas.

In [9]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [10]:
type(df["DATA FINAL"][0])

pandas.Timestamp

### 2. Extração de Ano: Crie uma nova coluna chamada "ANO" extraída apenas da "DATA FINAL".

In [11]:
df["ANO"] = df["DATA FINAL"].apply(lambda x: x.year)

In [12]:
df[["DATA FINAL", "ANO"]].head()

  DATA FINAL   ANO
0 2004-05-15  2004
1 2004-05-15  2004
2 2004-05-15  2004
3 2004-05-15  2004
4 2004-05-15  2004

### 3. Renomeação: Altere o nome das colunas "REGIÃO" para "REGION" e "ESTADO" para "STATE" (apenas para praticar a função de renomear).

In [13]:
df.rename(columns={"REGIÃO": "REGION", "ESTADO": "STATE"}).head(1)

,DATA INICIAL,DATA FINAL,REGION,STATE,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004

### 4. Média por Região: Qual é o preço médio de revenda da gasolina para cada uma das 5 regiões do Brasil? (Dica: use groupby).

In [14]:
df.groupby("REGIÃO")["PREÇO MÉDIO REVENDA"].mean()

REGIÃO
CENTRO OESTE    12.440722
NORDESTE        10.663357
NORTE           13.411680
SUDESTE         10.217240
SUL             10.562091
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 5. Volume de Dados: Conte quantos registros existem para cada estado na base de dados.

In [15]:
df.groupby("REGIÃO")["ESTADO"].value_counts()

REGIÃO        ESTADO
CENTRO OESTE  MATO GROSSO DO SUL     4793
              MATO GROSSO            4566
              GOIAS                  4134
              DISTRITO FEDERAL       3956
NORDESTE      BAHIA                  4819
              PARAIBA                4819
              RIO GRANDE DO NORTE    4818
              CEARA                  4813
              PERNAMBUCO             4813
              ALAGOAS                4806
              SERGIPE                4795
              PIAUI                  4017
              MARANHAO               3971
NORTE         AMAZONAS               4414
              PARA                   3955
              TOCANTINS              3953
              RONDONIA               3950
              ACRE                   3948
              RORAIMA                3938
              AMAPA                  3831
SUDESTE       RIO DE JANEIRO         4819
              SAO PAULO              4819
              MINAS GERAIS           4817
              ESPIRITO SANTO         4815
SUL           RIO GRANDE DO SUL      4819
              SANTA CATARINA         4818
              PARANA                 4807
Name: count, dtype: int64

### 6. Unidades de Medida: Identifique quais produtos são vendidos em "R/l" e quais são vendidos em "R$13kg".

In [16]:
df[df["UNIDADE DE MEDIDA"].isin(["R$/13Kg"])]["PRODUTO"].value_counts()

PRODUTO
GLP    23561
Name: count, dtype: int64

In [17]:
df[df["UNIDADE DE MEDIDA"].isin(["R$/l"])]["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtro Composto: Selecione os dados da região NORDESTE apenas para o ano de 2020.

### 8. Cálculo de Margem: Crie uma coluna chamada "DIFERENÇA_PREÇO" que seja a subtração entre o "PREÇO MÁXIMO REVENDA" e o "PREÇO MÍNIMO REVENDA".

### 9. Estatística Descritiva: Utilize um único método do Pandas para exibir um resumo estatístico (média, desvio padrão, quartis) apenas das colunas de preço do estado de São Paulo.

### 10. Ordenação: Mostre os 10 registros com os preços de revenda mais baratos do Brasil, ordenando o DataFrame.