# Filtros, Seleção e Limpeza

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

### 1. Visão Final: Exiba as últimas 7 linhas do conjunto de dados para verificar o final da série histórica.

In [4]:
df.tail(7)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120816,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,OLEO DIESEL S10,148,R$/l,4.140,0.236,3.849,4.949,-99999.0,0.057,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120817,2021-04-25,2021-05-01,NORTE,RONDONIA,OLEO DIESEL S10,30,R$/l,4.503,0.157,4.250,4.799,-99999.0,0.035,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2. Foco no Norte: Crie um filtro que retorne apenas os dados do estado do Amazonas.

In [5]:
df[df["ESTADO"] == "AMAZONAS"]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.85,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
42,2004-05-16,2004-05-22,NORTE,AMAZONAS,ETANOL HIDRATADO,56,R$/l,1.557,0.117,1.259,1.85,0.444,0.075,1.113,0.066,0.942,1.2109,0.059
69,2004-05-23,2004-05-29,NORTE,AMAZONAS,ETANOL HIDRATADO,54,R$/l,1.563,0.144,1.290,1.90,0.453,0.092,1.11,0.078,0.7874,1.2109,0.07
96,2004-05-30,2004-06-05,NORTE,AMAZONAS,ETANOL HIDRATADO,56,R$/l,1.558,0.119,1.259,1.85,0.445,0.076,1.113,0.073,0.9717,1.2384,0.066
123,2004-06-06,2004-06-12,NORTE,AMAZONAS,ETANOL HIDRATADO,57,R$/l,1.562,0.125,1.280,1.85,0.493,0.080,1.069,0.071,0.93,1.2412,0.066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120675,2021-04-25,2021-05-01,NORTE,AMAZONAS,GASOLINA ADITIVADA,40,R$/l,5.545,0.117,5.450,5.80,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120702,2021-04-25,2021-05-01,NORTE,AMAZONAS,GASOLINA COMUM,54,R$/l,5.493,0.124,5.390,5.80,-99999.0,0.023,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120729,2021-04-25,2021-05-01,NORTE,AMAZONAS,GLP,43,R$/13Kg,92.783,4.603,88.000,105.00,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120772,2021-04-25,2021-05-01,NORTE,AMAZONAS,OLEO DIESEL,31,R$/l,4.285,0.295,3.990,4.95,-99999.0,0.069,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120799,2021-04-25,2021-05-01,NORTE,AMAZONAS,OLEO DIESEL S10,44,R$/l,4.332,0.274,3.990,4.99,-99999.0,0.063,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 3. Análise de Gás: Qual é a média de postos pesquisados especificamente para o produto "GNV"?

In [8]:
df[df["PRODUTO"] == "GNV"]["NÚMERO DE POSTOS PESQUISADOS"].mean()

np.float64(27.822793558642616)

### 4. Seleção de Colunas: Crie um novo DataFrame contendo apenas as colunas: DATA FINAL, ESTADO, PRODUTO e PREÇO MÉDIO REVENDA.

In [14]:
df_new = df[["DATA FINAL", "PRODUTO", "PREÇO MÉDIO REVENDA"]].copy()

In [16]:
df_new.head()

   DATA FINAL           PRODUTO  PREÇO MÉDIO REVENDA
0  2004-05-15  ETANOL HIDRATADO                1.288
1  2004-05-15  ETANOL HIDRATADO                1.162
2  2004-05-15  ETANOL HIDRATADO                1.389
3  2004-05-15  ETANOL HIDRATADO                1.262
4  2004-05-15  ETANOL HIDRATADO                1.181

### 5. Máximo do Diesel: Identifique qual foi o maior "PREÇO MÁXIMO REVENDA" registrado para o "ÓLEO DIESEL S10" em todo o Brasil.

In [19]:
df[df["PRODUTO"] == "ÓLEO DIESEL S10"]["PREÇO MÁXIMO REVENDA"].max()

np.float64(5.3)

### 6. Preços Baixos: Filtre todos os registros onde o "PREÇO MÉDIO REVENDA" foi menor que R$ 2,00.

In [20]:
df[df["PREÇO MÉDIO REVENDA"] < 2]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94792,2017-12-10,2017-12-16,SUL,SANTA CATARINA,GNV,10,R$/m3,1.997,0.074,1.899,2.099,0.518,0.037,1.479,0,1.479,1.479,0
94942,2017-12-17,2017-12-23,SUL,SANTA CATARINA,GNV,15,R$/m3,1.966,0.112,1.760,2.099,-,0.057,-,-,-,-,-
95546,2018-01-14,2018-01-20,SUL,SANTA CATARINA,GNV,33,R$/m3,1.996,0.134,1.760,2.289,0.517,0.067,1.479,0,1.479,1.479,0
95698,2018-01-21,2018-01-27,SUL,SANTA CATARINA,GNV,33,R$/m3,1.998,0.136,1.760,2.289,0.391,0.068,1.607,0.151,1.479,1.6925,0.094
96607,2018-03-04,2018-03-10,SUL,SANTA CATARINA,GNV,26,R$/m3,1.988,0.130,1.810,2.290,0.712,0.065,1.276,0,1.2758,1.2758,0

### 7. Frequência por Estado: Conte quantas vezes cada estado aparece no conjunto de dados (frequência de registros).

In [23]:
df["ESTADO"].value_counts()

ESTADO
BAHIA                  4819
PARAIBA                4819
RIO DE JANEIRO         4819
SAO PAULO              4819
RIO GRANDE DO SUL      4819
RIO GRANDE DO NORTE    4818
SANTA CATARINA         4818
MINAS GERAIS           4817
ESPIRITO SANTO         4815
CEARA                  4813
PERNAMBUCO             4813
PARANA                 4807
ALAGOAS                4806
SERGIPE                4795
MATO GROSSO DO SUL     4793
MATO GROSSO            4566
AMAZONAS               4414
GOIAS                  4134
PIAUI                  4017
MARANHAO               3971
DISTRITO FEDERAL       3956
PARA                   3955
TOCANTINS              3953
RONDONIA               3950
ACRE                   3948
RORAIMA                3938
AMAPA                  3831
Name: count, dtype: int64

### 8. Coluna de Mês: Crie uma nova coluna chamada "MES_NUM" extraída da coluna DATA FINAL (apenas o número do mês).

In [27]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [28]:
type(df["DATA FINAL"][0])

pandas.Timestamp

In [29]:
df["MES"] = df["DATA FINAL"].apply(lambda x: x.month)

In [37]:
type(df["MES"][0])

numpy.int64

In [35]:
df["MES"].value_counts()

MES
3     10534
1     10503
12    10497
7     10250
4     10227
5     10210
6     10022
11     9995
10     9986
2      9695
8      9524
9      9380
Name: count, dtype: int64

### 9. Recorte Regional: Filtre o DataFrame para exibir apenas dados pertencentes à região "SUDESTE".

In [38]:
df[df["REGIÃO"] == "SUDESTE"]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES
20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.890,1.490,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108,5
21,2004-05-09,2004-05-15,SUDESTE,MINAS GERAIS,ETANOL HIDRATADO,1238,R$/l,1.205,0.120,0.920,1.875,0.389,0.100,0.816,0.123,0.3797,1.437,0.151,5
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22,5
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5
47,2004-05-16,2004-05-22,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,307,R$/l,1.144,0.115,0.880,1.470,0.28,0.101,0.864,0.091,0.6259,1.1384,0.105,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120803,2021-04-25,2021-05-01,SUDESTE,ESPIRITO SANTO,OLEO DIESEL S10,65,R$/l,4.070,0.211,3.790,4.690,-99999.0,0.052,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120808,2021-04-25,2021-05-01,SUDESTE,MINAS GERAIS,OLEO DIESEL S10,206,R$/l,4.314,0.143,4.040,5.070,-99999.0,0.033,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,5

### 10. Instabilidade de Preço: Localize os 5 registros que possuem o maior "DESVIO PADRÃO REVENDA".

In [40]:
df["DESVIO PADRÃO REVENDA"].nlargest(5)

92357     10.748
92059     10.728
100946    10.675
98533     10.641
98988     10.568
Name: DESVIO PADRÃO REVENDA, dtype: float64

### 11. Tipos de Medida: Liste todos os valores únicos da coluna UNIDADE DE MEDIDA.

In [41]:
df["UNIDADE DE MEDIDA"].value_counts()

UNIDADE DE MEDIDA
R$/l       82793
R$/13Kg    23561
R$/m3      14469
Name: count, dtype: int64

### 12. Ano Específico: Filtre os dados do produto "GASOLINA COMUM" referentes apenas ao ano de 2015.

In [46]:
df["YEAR"] = df["DATA FINAL"].apply(lambda x: x.year)

In [47]:
df[(df["PRODUTO"] == "GASOLINA COMUM") & (df["YEAR"] == 2015)]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MES,YEAR
71540,2014-12-28,2015-01-03,NORTE,ACRE,GASOLINA COMUM,50,R$/l,3.504,0.179,3.390,3.910,0.568,0.051,2.936,0.108,2.784,3.2181,0.037,1,2015
71541,2014-12-28,2015-01-03,NORDESTE,ALAGOAS,GASOLINA COMUM,95,R$/l,3.083,0.083,2.920,3.290,0.463,0.027,2.62,0.059,2.485,2.8262,0.023,1,2015
71542,2014-12-28,2015-01-03,NORTE,AMAPA,GASOLINA COMUM,28,R$/l,3.068,0.205,2.930,3.570,0.395,0.067,2.673,0.028,2.6312,2.7133,0.01,1,2015
71543,2014-12-28,2015-01-03,NORTE,AMAZONAS,GASOLINA COMUM,114,R$/l,3.280,0.190,2.900,3.850,0.542,0.058,2.738,0.081,2.4909,2.96,0.03,1,2015
71544,2014-12-28,2015-01-03,NORDESTE,BAHIA,GASOLINA COMUM,419,R$/l,3.079,0.122,2.829,3.420,0.494,0.040,2.585,0.081,2.41,2.7976,0.031,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79182,2015-12-20,2015-12-26,NORTE,RORAIMA,GASOLINA COMUM,9,R$/l,3.883,0.040,3.840,3.940,0.494,0.010,3.389,0.079,3.345,3.5716,0.023,12,2015
79183,2015-12-20,2015-12-26,SUL,SANTA CATARINA,GASOLINA COMUM,243,R$/l,3.494,0.139,3.179,3.861,0.361,0.040,3.133,0.061,3.0317,3.26,0.019,12,2015
79184,2015-12-20,2015-12-26,SUDESTE,SAO PAULO,GASOLINA COMUM,1629,R$/l,3.515,0.135,3.159,3.899,0.454,0.038,3.061,0.081,2.846,3.41,0.026,12,2015
79185,2015-12-20,2015-12-26,NORDESTE,SERGIPE,GASOLINA COMUM,39,R$/l,3.633,0.104,3.389,3.869,0.42,0.029,3.213,0.036,3.16,3.263,0.011,12,2015
79186,2015-12-20,2015-12-26,NORTE,TOCANTINS,GASOLINA COMUM,41,R$/l,3.681,0.117,3.200,3.959,0.46,0.032,3.221,0.076,3.08,3.2788,0.024,12,2015

### 13. Distribuição na Bahia: Calcule o "PREÇO MÉDIO DISTRIBUIÇÃO" apenas para o estado da Bahia.

In [48]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  str
 1   DATA FINAL                     120823 non-null  datetime64[us]
 2   REGIÃO                         120823 non-null  str
 3   ESTADO                         120823 non-null  str
 4   PRODUTO                        120823 non-null  str
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  str
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  str
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  str
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  str
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  str
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  str
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  str
 18  MES                            120823 non-null  int64
 19  YEAR                           120823 non-null  int64
dtypes: datetime64[us](1), float64(5), int64(3), str(11)
memory usage: 18.4 MB

### 14. Barreira dos 7 Reais: Identifique em quais datas e estados o "PREÇO MÁXIMO REVENDA" atingiu ou ultrapassou R$ 7,00.

### 15. Ordenação por Amostra: Ordene o DataFrame pelo NÚMERO DE POSTOS PESQUISADOS de forma crescente.

### 16. Filtro Sulista: Crie um filtro para encontrar registros de "GLP" (Gás de Cozinha) apenas na região "SUL".

### 17. Valores Nulos: Verifique se existem valores nulos (NaN) na coluna PREÇO MÉDIO DISTRIBUIÇÃO.

### 18. Amplitude de Preço: Crie uma nova coluna chamada "AMPLITUDE_REVENDA" que seja a diferença entre o preço máximo e o preço mínimo de revenda.

### 19. Início de Ano: Filtre o DataFrame para mostrar apenas os registros realizados no mês de Janeiro (de qualquer ano).

### 20. Exclusão de Coluna: Remova a coluna COEF DE VARIAÇÃO DISTRIBUIÇÃO de uma cópia do seu DataFrame e exiba o resultado.