# Transformação e agrupamentos simples

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

### 1. Conversão de Datas: Converta a coluna "DATA FINAL" para o formato datetime do Pandas.

In [4]:
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [5]:
type(df["DATA FINAL"][0])

pandas.Timestamp

### 2. Extração de Ano: Crie uma nova coluna chamada "ANO" extraída apenas da "DATA FINAL".

In [6]:
df["ANO"] = df["DATA FINAL"].apply(lambda x: x.year)

In [7]:
df[["DATA FINAL", "ANO"]].head()

  DATA FINAL   ANO
0 2004-05-15  2004
1 2004-05-15  2004
2 2004-05-15  2004
3 2004-05-15  2004
4 2004-05-15  2004

### 3. Renomeação: Altere o nome das colunas "REGIÃO" para "REGION" e "ESTADO" para "STATE" (apenas para praticar a função de renomear).

In [8]:
df.rename(columns={"REGIÃO": "REGION", "ESTADO": "STATE"}).head(1)

,DATA INICIAL,DATA FINAL,REGION,STATE,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004

### 4. Média por Região: Qual é o preço médio de revenda da gasolina para cada uma das 5 regiões do Brasil? (Dica: use groupby).

In [9]:
df.groupby("REGIÃO")["PREÇO MÉDIO REVENDA"].mean()

REGIÃO
CENTRO OESTE    12.440722
NORDESTE        10.663357
NORTE           13.411680
SUDESTE         10.217240
SUL             10.562091
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 5. Volume de Dados: Conte quantos registros existem para cada estado na base de dados.

In [10]:
df.groupby("REGIÃO")["ESTADO"].value_counts()

REGIÃO        ESTADO
CENTRO OESTE  MATO GROSSO DO SUL     4793
              MATO GROSSO            4566
              GOIAS                  4134
              DISTRITO FEDERAL       3956
NORDESTE      BAHIA                  4819
              PARAIBA                4819
              RIO GRANDE DO NORTE    4818
              CEARA                  4813
              PERNAMBUCO             4813
              ALAGOAS                4806
              SERGIPE                4795
              PIAUI                  4017
              MARANHAO               3971
NORTE         AMAZONAS               4414
              PARA                   3955
              TOCANTINS              3953
              RONDONIA               3950
              ACRE                   3948
              RORAIMA                3938
              AMAPA                  3831
SUDESTE       RIO DE JANEIRO         4819
              SAO PAULO              4819
              MINAS GERAIS           4817
              ESPIRITO SANTO         4815
SUL           RIO GRANDE DO SUL      4819
              SANTA CATARINA         4818
              PARANA                 4807
Name: count, dtype: int64

### 6. Unidades de Medida: Identifique quais produtos são vendidos em "R/l" e quais são vendidos em "R$13kg".

In [11]:
df[df["UNIDADE DE MEDIDA"].isin(["R$/13Kg"])]["PRODUTO"].value_counts()

PRODUTO
GLP    23561
Name: count, dtype: int64

In [12]:
df[df["UNIDADE DE MEDIDA"].isin(["R$/l"])]["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtro Composto: Selecione os dados da região NORDESTE apenas para o ano de 2020.

In [15]:
df[(df["REGIÃO"] == "NORDESTE") & (df["ANO"] == 2020)]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO
110732,2019-12-29,2020-01-04,NORDESTE,ALAGOAS,ETANOL HIDRATADO,55,R$/l,3.356,0.325,2.995,4.400,0.415,0.097,2.941,0.123,2.75,3.1769,0.042,2020
110735,2019-12-29,2020-01-04,NORDESTE,BAHIA,ETANOL HIDRATADO,330,R$/l,3.611,0.163,3.190,4.299,0.634,0.045,2.977,0.135,2.4854,3.4635,0.045,2020
110736,2019-12-29,2020-01-04,NORDESTE,CEARA,ETANOL HIDRATADO,201,R$/l,3.722,0.119,3.450,4.050,0.408,0.032,3.314,0.125,3.0331,3.547,0.038,2020
110740,2019-12-29,2020-01-04,NORDESTE,MARANHAO,ETANOL HIDRATADO,58,R$/l,3.645,0.206,3.340,4.400,0.303,0.057,3.342,0.108,3.2279,3.4984,0.032,2020
110745,2019-12-29,2020-01-04,NORDESTE,PARAIBA,ETANOL HIDRATADO,60,R$/l,3.055,0.282,2.799,3.899,0.318,0.092,2.737,0.194,2.6,3.5546,0.071,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117616,2020-12-20,2020-12-26,NORDESTE,PARAIBA,OLEO DIESEL S10,34,R$/l,3.656,0.125,3.379,3.989,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2020
117618,2020-12-20,2020-12-26,NORDESTE,PERNAMBUCO,OLEO DIESEL S10,46,R$/l,3.589,0.096,3.340,3.799,-99999.0,0.027,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2020
117619,2020-12-20,2020-12-26,NORDESTE,PIAUI,OLEO DIESEL S10,34,R$/l,3.832,0.093,3.679,3.999,-99999.0,0.024,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2020
117621,2020-12-20,2020-12-26,NORDESTE,RIO GRANDE DO NORTE,OLEO DIESEL S10,35,R$/l,3.970,0.039,3.879,3.999,-99999.0,0.010,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2020
117627,2020-12-20,2020-12-26,NORDESTE,SERGIPE,OLEO DIESEL S10,21,R$/l,3.897,0.114,3.690,4.090,-99999.0,0.029,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2020

### 8. Cálculo de Margem: Crie uma coluna chamada "DIFERENÇA_PREÇO" que seja a subtração entre o "PREÇO MÁXIMO REVENDA" e o "PREÇO MÍNIMO REVENDA".

In [22]:
df["DIFERENÇA PREÇO"] = df["PREÇO MÁXIMO REVENDA"] - df["PREÇO MÍNIMO REVENDA"]

In [24]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO,DIFERENÇA PREÇO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004,0.160
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004,0.559
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004,0.580
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004,0.419
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004,0.350

### 9. Estatística Descritiva: Utilize um único método do Pandas para exibir um resumo estatístico (média, desvio padrão, quartis) apenas das colunas de preço do estado de São Paulo.

In [32]:
df[df["ESTADO"] == "SAO PAULO"][["PREÇO MÉDIO REVENDA", "PREÇO MÍNIMO REVENDA", "PREÇO MÁXIMO REVENDA"]].describe()

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
count          4819.000000           4819.000000           4819.000000
mean             10.031501              7.788166             12.745681
std              17.381130             12.966484             22.507237
min               0.766000              0.590000              1.099000
25%               1.864000              1.599000              2.399000
50%               2.554000              2.199000              2.999000
75%               3.607000              3.179000              4.416000
max              85.340000             68.000000            110.000000

### 10. Ordenação: Mostre os 10 registros com os preços de revenda mais baratos do Brasil, ordenando o DataFrame.

In [38]:
df["PREÇO MÉDIO REVENDA"].nsmallest(10)

50     0.766
23     0.768
77     0.823
104    0.887
131    0.894
158    0.898
212    0.899
239    0.902
185    0.904
266    0.907
Name: PREÇO MÉDIO REVENDA, dtype: float64