# Exploração e filtros básicos

### 1. Carga e Inspeção: Carregue o arquivo e exiba as 10 primeiras linhas para entender a estrutura dos dados.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("2004-2021.tsv", sep="\t")

In [7]:
df.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096

### 2. Dimensões: Quantas linhas e quantas colunas esse conjunto de dados possui no total?

In [9]:
df.shape

(120823, 18)

### 3. Dicionário de Dados: Liste o nome de todas as colunas e verifique quais delas são do tipo numérico e quais são objetos (strings).

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  str
 1   DATA FINAL                     120823 non-null  str
 2   REGIÃO                         120823 non-null  str
 3   ESTADO                         120823 non-null  str
 4   PRODUTO                        120823 non-null  str
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  str
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  str
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  str
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  str
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  str
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  str
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  str
dtypes: float64(5), int64(1), str(12)
memory usage: 16.6 MB

### 4. Extremos de Preço: Qual foi o maior preço médio de revenda registrado em toda a história do dataset? E o menor?

In [17]:
df["PREÇO MÉDIO REVENDA"].max()

np.float64(107.5)

In [18]:
df["PREÇO MÉDIO REVENDA"].min()

np.float64(0.7659999999999999)

### 5. Filtro por Estado: Crie um novo DataFrame contendo apenas os dados do estado do Piauí (valorizando sua localização na UESPI!).

In [21]:
df_pi = df[df["ESTADO"] == "PIAUI"]

In [23]:
df_pi.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.40,1.78,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072
37,2004-05-16,2004-05-22,NORDESTE,PIAUI,ETANOL HIDRATADO,93,R$/l,1.571,0.133,1.35,1.78,0.489,0.085,1.082,0.094,0.8678,1.2499,0.087
64,2004-05-23,2004-05-29,NORDESTE,PIAUI,ETANOL HIDRATADO,91,R$/l,1.569,0.121,1.39,1.78,0.476,0.077,1.093,0.084,0.8857,1.2655,0.077
91,2004-05-30,2004-06-05,NORDESTE,PIAUI,ETANOL HIDRATADO,94,R$/l,1.564,0.118,1.35,1.78,0.478,0.075,1.086,0.105,0.8483,1.2565,0.097
118,2004-06-06,2004-06-12,NORDESTE,PIAUI,ETANOL HIDRATADO,94,R$/l,1.604,0.070,1.40,1.78,0.485,0.044,1.119,0.076,0.9758,1.3072,0.068

### 6. Contagem de Produtos: Quais são os diferentes tipos de produtos (combustíveis) listados? Use um método que mostre a lista sem repetições.

In [24]:
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtro de Produto: Selecione apenas as linhas onde o produto é "GLP" (Gás de Cozinha) e exiba as 5 primeiras entradas.

In [25]:
df[df["PRODUTO"] == "GLP"].head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
24132,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GLP,44,R$/13Kg,33.989,0.803,32.0,36.0,6.824,0.024,27.165,3.062,25,29.33,0.113
24133,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GLP,372,R$/13Kg,30.335,1.841,27.0,36.0,5.328,0.061,25.007,1.756,19.4983,29,0.07
24134,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GLP,97,R$/13Kg,38.568,2.045,33.0,44.0,5.713,0.053,32.855,2.296,27.75,38,0.07
24135,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GLP,109,R$/13Kg,33.388,2.308,29.0,39.0,4.585,0.069,28.803,1.764,24,33,0.061
24136,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GLP,22,R$/13Kg,32.391,1.357,27.9,33.0,7.641,0.042,24.75,0.354,24.5,25,0.014

### 8. Análise de Postos: Qual é a média da coluna "NÚMERO DE POSTOS PESQUISADOS" em todo o Brasil?

In [28]:
df["NÚMERO DE POSTOS PESQUISADOS"].mean()

np.float64(221.06646085596284)

### 9. Busca Específica: Encontre todas as ocorrências onde o "PREÇO MÉDIO REVENDA" foi maior que R$ 6,00.

In [29]:
df[df["PREÇO MÉDIO REVENDA"] > 6]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
24132,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GLP,44,R$/13Kg,33.989,0.803,32.0,36.00,6.824,0.024,27.165,3.062,25,29.33,0.113
24133,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GLP,372,R$/13Kg,30.335,1.841,27.0,36.00,5.328,0.061,25.007,1.756,19.4983,29,0.07
24134,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GLP,97,R$/13Kg,38.568,2.045,33.0,44.00,5.713,0.053,32.855,2.296,27.75,38,0.07
24135,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GLP,109,R$/13Kg,33.388,2.308,29.0,39.00,4.585,0.069,28.803,1.764,24,33,0.061
24136,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GLP,22,R$/13Kg,32.391,1.357,27.9,33.00,7.641,0.042,24.75,0.354,24.5,25,0.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120748,2021-04-25,2021-05-01,NORTE,RORAIMA,GLP,19,R$/13Kg,102.158,2.853,98.0,106.00,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120749,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GLP,18,R$/13Kg,91.189,7.106,82.0,104.00,-99999.0,0.078,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.0,99.99,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120751,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GLP,16,R$/13Kg,83.508,3.882,79.9,90.00,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120752,2021-04-25,2021-05-01,NORTE,TOCANTINS,GLP,57,R$/13Kg,93.867,5.759,80.0,108.00,-99999.0,0.061,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 10. Verificação de Nulos: Verifique se existe algum valor ausente (NaN) no DataFrame e em qual coluna ele se encontra.

In [33]:
df.isnull().sum()

DATA INICIAL                     0
DATA FINAL                       0
REGIÃO                           0
ESTADO                           0
PRODUTO                          0
NÚMERO DE POSTOS PESQUISADOS     0
UNIDADE DE MEDIDA                0
PREÇO MÉDIO REVENDA              0
DESVIO PADRÃO REVENDA            0
PREÇO MÍNIMO REVENDA             0
PREÇO MÁXIMO REVENDA             0
MARGEM MÉDIA REVENDA             0
COEF DE VARIAÇÃO REVENDA         0
PREÇO MÉDIO DISTRIBUIÇÃO         0
DESVIO PADRÃO DISTRIBUIÇÃO       0
PREÇO MÍNIMO DISTRIBUIÇÃO        0
PREÇO MÁXIMO DISTRIBUIÇÃO        0
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0
dtype: int64